@import '../../assets/styles/variables';

.project-container {
    position: relative;
    margin-bottom: 30rem;
    padding-top: 20rem;

    .varied-dots {
        position: absolute;
        top: -5rem;
        left: 15rem;
        z-index: -1;
    }

    .sparkle {
        position: absolute;
        width: 10rem;
        top: 25rem;
        left: 80vw;
        z-index: -1;

        path {
            fill: $red;
        }
    }

    .shape {
        position: absolute;
        top: 40rem;
        left: 10rem;
        width: 5rem;
        z-index: -1;

        path {
            fill: $blue-darker;
        }
    }

    .card {
        background-color: $white;
        color: $text-color;
        border: 5px solid $text-color;
        margin: auto;
        margin-bottom: 1.5rem;
        width: 40vw;

        .banner {
            background-color: $blue;
            padding-left: 1rem;
            width: 20rem;

            h1 {
                font-size: 4rem;
                margin-bottom: 0;
            }
        }

        .slideshow-container {
            position: relative;
            margin: auto;
            max-width: 100%;
            padding: 5%;

            .slide {
                width: 80%;
                margin: auto;
                img {
                    width: 100%;
                }
            }

            .button-container {
                margin: 4rem auto 0 auto;
                display: flex;
                justify-content: space-between;
                width: 50%;

                .button {
                    padding: 1rem 2rem;
                    border: 1.5px solid $text-color;
                    box-shadow: -3px 5px;
                    color: $text-color;
                    font-size: 3rem;
                    transition: box-shadow 0.3s ease-in-out;

                }

                .button:hover, .button:active {
                    cursor: pointer;
                    box-shadow: 1px 1px;
                }

                .go {
                    background-color: $green;
                }

                .prev, .next {
                    background-color: $blue;
                }
            }
        }

        .project-name {
            text-align: center;
            font-size: 2.5rem;
        }

        .project-description {
            padding: 0 2rem;
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .project-container {

        .varied-dots {
            left: 2rem;
        }

        .card {
            width: 60vw;

            .banner {
                
                h1 {
                    font-size: 3rem;
                }
            }

            .slideshow-container {

                .button-container {
                    .button {
                        font-size: 2rem;
                        padding: 1rem 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px)  {
    .project-container {
        .project-card {
            min-width: 30rem;
            .slideshow-container {
                .slide {
                    min-width: 20rem;
                }
                .button-container {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}