@import '../../assets/styles/variables';

.mobile-nav {
    display: none;
    width: 100vw;
    position: fixed;
    top: 11rem;
    height: 100vh;
    background-color: $white;
    border-top: 5px solid $text-color;
    z-index: 100;

    ul {
        margin-top: 5rem;
        list-style-type: none;
        gap: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        padding-bottom: 1rem;
        
        li {
            position: relative; 

            button {
                padding: 1rem 2rem;
                border-radius: 30px;
                color: $text-color;
                border: 2px solid $text-color;
                font-size: 3rem;
                box-shadow: -10px 5px;
                transition: box-shadow 0.3s ease-in-out;
            }
            
            button:hover, button:active {
                cursor: pointer;
                box-shadow: -5px 2px;
                transition: box-shadow 0.3s ease-in-out;
            }
            
            #about-button {
                background-color: $red;
            }
            
            #projects-button {
                background-color: $green;
            }
            
            #contact-button {
                background-color: $blue;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -4rem;
                left: 0;
                width: 120vw;
                height: 2px;
                background-color: $text-color;
                transform: translateX(-50vw);
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .mobile-nav {
        display: block;
    }
}