@import '../../assets/styles/variables';

.nav-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  height: 11rem;
  background-color: $white;
  border-bottom: 5px solid $text-color;
  z-index: 100;

    .nav-content {
        margin: 1rem 5rem 0 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
            text-decoration: none;

            h1:active, h1:hover {
                color: $blue-darker;
            }
        }
        

        h1 {
            font-size: 3.5rem;
            color: $text-color;
        }

        nav {
            display: inline-block;

            ul {
                display: flex;
                gap: 5rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
                height: 100%;

                li {
                    display: inline;

                    button {
                        padding: 1rem 2rem;
                        border-radius: 30px;
                        color: $text-color;
                        border: 2px solid $text-color;
                        font-size: 3rem;
                        box-shadow: -10px 5px;
                        transition: box-shadow 0.3s ease-in-out;
                    }
                    
                    button:hover, button:active {
                        cursor: pointer;
                        box-shadow: -5px 2px;
                        transition: box-shadow 0.3s ease-in-out;
                    }
                    
                    #about-button {
                        background-color: $red;
                    }
                    
                    #projects-button {
                        background-color: $green;
                    }
                    
                    #contact-button {
                        background-color: $blue;
                    }
                    #burger-icon, #exit-icon {
                        cursor: pointer;
                    }
                    
                }
            
            }

            .icon {
                width: 8rem;
                height: 8rem;
                display: none;
            }

            .icon path {
                stroke: $text-color;
            }

            .icon:active path, .icon:hover path {
                color: $blue-darker;
                stroke: $blue-darker;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .nav-content nav ul li:not(:last-child) {
        display: none;
    }
    .nav-bar .nav-content nav .icon {
        display: block;
    }

}